/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: local("Inter"),
    url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-weight: 400 785;
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"), url(./PressStart2P-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}
