/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}

/*искры сердца*/
.sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

/*эффект ховера для сердечка*/
.like-icon .core {
  transition: fill 0.3s linear;
  fill: var(--background-color-main);
}

.like-icon .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--background-color-main);
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

/*тут эффект актив для сердечка*/
.like-icon .core {
  transition: fill 0.3s linear;
  fill: var(--background-color-main);
}

.like-icon .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--background-color-main);
}

.like-icon:active .core {
  fill: var(--like-fill-color);
}

.like-icon:active .main-body {
  fill: var(--like-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/*тут эффект клика по кнопке для сердечка*/
.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--like-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--like-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--like-fill-color);
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
