/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter", sans-serif; /*основной шрифт*/
  --accent-font-family: "PressStart2P", monospace; /*акцентный шрифт*/
  --main-font-weight-card: 400; /*толщинa основного текста карточки */
  --font-weight-heading-card: 700; /* толщину заголовка карточки*/
  --background-color-main: #fff;
  --accent-color: #000;
  --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --text-stroke-color: #fff;
  --like-contour-color: #000;
  --like-fill-color: #ff0000;
  --button-text-color: #fff;
  --backdrop-color: #000;
}
